<div class="sidebar">
  <div id="sidebar-menu">
    <a (click)="onYearClick('2006')">2006</a>
    <a (click)="onYearClick('2007')">2007</a>
    <a (click)="onYearClick('2008')">2008</a>
    <a (click)="onYearClick('2009')">2009</a>
    <a (click)="onYearClick('2010')">2010</a>
    <a (click)="onYearClick('2011')">2011</a>
    <a (click)="onYearClick('2012')">2012</a>
    <a (click)="onYearClick('2013')">2013</a>
    <a (click)="onYearClick('2014')">2014</a>
    <a (click)="onYearClick('2015')">2015</a>
    <a (click)="onYearClick('2016')">2016</a>
    <a (click)="onYearClick('2017')">2017</a>
    <a (click)="onYearClick('2018')">2018</a>
    <a (click)="onYearClick('2019')">2019</a>
    <a (click)="onYearClick('2020')">2020</a>
    <div class="launch-class">
      <p>Successfully Launch</p>
      <a (click)="onLaunchClick(true)">True</a>
      <a (click)="onLaunchClick(true)">False</a>
    </div>
    <div class="launch-class">
      <p>Successfully Land</p>
      <a (click)="onLandClick(true)">True</a>
      <a (click)="onLandClick(false)">False</a>
    </div>
  </div>
</div>

<!-- <p> Launch Year</p>
<div class="nested">
    <div> <a style="cursor: pointer;" (click)="onYearClick('2006')">2006</a></div>
    <div><a style="cursor: pointer;" (click)="onYearClick('2007')">2007</a></div>
    <div><a style="cursor: pointer;" (click)="onYearClick('2008')">2008</a></div>
    <div><a style="cursor: pointer;" (click)="onYearClick('2009')">2009</a></div>
    <div><a style="cursor: pointer;" (click)="onYearClick('2010')">2010</a></div>
    <div><a style="cursor: pointer;" (click)="onYearClick('2011')">2011</a></div>
    <div><a style="cursor: pointer;" (click)="onYearClick('2012')">2012</a></div>
    <div><a style="cursor: pointer;" (click)="onYearClick('2013')">2013</a></div>
    <div><a style="cursor: pointer;" (click)="onYearClick('2014')">2014</a></div>
    <div><a style="cursor: pointer;" (click)="onYearClick('2015')">2015</a></div>
    <div><a style="cursor: pointer;" (click)="onYearClick('2016')">2016</a></div>
    <div><a style="cursor: pointer;" (click)="onYearClick('2017')">2017</a></div>
    <div><a style="cursor: pointer;" (click)="onYearClick('2018')">2018</a></div>
    <div><a style="cursor: pointer;" (click)="onYearClick('2019')">2019</a></div>
    <div><a style="cursor: pointer;" (click)="onYearClick('2020')">2020</a></div>
</div>
<p>Successfully Launch</p>
<div class="nestedLaunch">
    <div> <a style="cursor: pointer;" (click)="onLaunchClick(true)">True</a></div>
    <div><a style="cursor: pointer;" (click)="onLaunchClick(false)">False</a></div>
</div>
<p>Successfully Land</p>
<div class="nestedLand">
    <div> <a style="cursor: pointer;" (click)="onLandClick(true)">True</a></div>
    <div><a style="cursor: pointer;" (click)="onLandClick(false)">False</a></div>
</div> -->

<!-- <div class="parent">
    <div class="box" id="one">One</div>
    <div class="box" id="two">Two</div>
    <div class="box" id="three">Three</div>
    <div class="box" id="four">Four</div>
    <div class="box" id="five">Five</div>
</div> -->
